// LAYOUT for A4
// Size format
@a4-width:                   210mm;
@a4-height:                  297mm;
@a4-font-size:               16pt;
// Cover margins
@a4-cover-margin-top:        50mm;
@a4-cover-margin-ext:        50mm;
@a4-cover-margin-bottom:     50mm;
@a4-cover-margin-int:        50mm;
// Inner page margins
@a4-page-margin-top:         9mm;
@a4-page-margin-ext:         9mm;
@a4-page-margin-bottom:      9mm;
@a4-page-margin-int:         16mm;

// LAYOUT for Pocket
// Size format
@pocket-width:               107.9mm;
@pocket-height:              174.6mm;
@pocket-font-size:           9pt;
// Cover margins
@pocket-cover-margin-top:    12.7mm;
@pocket-cover-margin-ext:    12.7mm;
@pocket-cover-margin-bottom: 12.7mm;
@pocket-cover-margin-int:    18mm;
// Inner page margins
@pocket-page-margin-top:     12.7mm;
@pocket-page-margin-ext:     12.7mm;
@pocket-page-margin-bottom:  12.7mm;
@pocket-page-margin-int:     18mm;
// Inner page width (auto)
@pocket-inner-width: @pocket-width - @pocket-page-margin-ext - @pocket-page-margin-int;
@pocket-inner-height: @pocket-height - @pocket-page-margin-top - @pocket-page-margin-bottom;

// Column widths
@col-text-width: 66%;
@col-media-width: 66%;

// Text settings
@border-size: 1.5pt;
@border-radius: 1em;
@gutter: 0.95em;
@overlap: 1.26em;
@height-cover-info: 2em;
