// Variables
@interface-spacer: 16px;
@preview-ratio: 0.45; // ratio preview is hard-coded in `src/components/Cover.jsx`, line 60. Please report any update there.

/* =Pages preview and printing
  -----------------------------------------------------------------------------*/
.page {

  position: relative;
  overflow: hidden;
  background-color: @body-bg;
  line-height: 1.2;

  *, *::after, *::before {
    box-sizing: border-box;
  }

  // E L E M E N T S
  &__content {
    position: relative !important;
    overflow: hidden;
    display: flex;
    @media not print {
      & when not (@preview-ratio = 1) {
        transform: scale(@preview-ratio);
        transform-origin: left top;
      }
    }
  }

  // M O D I F I E R S
  [data-format="a4"]&
  {
    .set-page-base(@a4-width, @a4-height, @preview-ratio);
    font-size: @a4-font-size;

    // M O D I F I E R S
    &--cover {
      .set-page-margin-fixed(@a4-cover-margin-top, @a4-cover-margin-ext, @a4-cover-margin-bottom, @a4-cover-margin-int, @preview-ratio);
      // Elements
      .set-page__content-width(@a4-width, @a4-height, @a4-cover-margin-top, @a4-cover-margin-ext, @a4-cover-margin-bottom, @a4-cover-margin-int);
    }

    &--default,
    &--credits,
    &--sleeve,
    &--empty {
      .set-page-margin(@a4-page-margin-top, @a4-page-margin-ext, @a4-page-margin-bottom, @a4-page-margin-int, @preview-ratio);
      // Elements
      .set-page__content-width(@a4-width, @a4-height, @a4-page-margin-top, @a4-page-margin-ext, @a4-page-margin-bottom, @a4-page-margin-int);
    }

    &--backcover {
      .set-page-margin-fixed(@a4-cover-margin-top, @a4-cover-margin-int, @a4-cover-margin-bottom, @a4-cover-margin-ext, @preview-ratio);
      // Elements
      .set-page__content-width(@a4-width, @a4-height, @a4-cover-margin-top, @a4-cover-margin-int, @a4-cover-margin-bottom, @a4-cover-margin-ext);
    }

    &--spine {
      .set-page-margin(@a4-page-margin-top, 0, @a4-page-margin-bottom, 0, @preview-ratio);
      // Elements
      .set-page__content-width(@a4-width, @a4-height, @a4-page-margin-top, 0, @a4-page-margin-bottom, 0);
    }

  } //--- A4

  [data-format="pocket"]&
  {
    .set-page-base(@pocket-width, @pocket-height, @preview-ratio);
    font-size: @pocket-font-size;

    // M O D I F I E R S
    &--cover {
      .set-page-margin-fixed(@pocket-cover-margin-top, @pocket-cover-margin-ext, @pocket-cover-margin-bottom, @pocket-cover-margin-int, @preview-ratio);
      // Elements
      .set-page__content-width(@pocket-width, @pocket-height, @pocket-cover-margin-top, @pocket-cover-margin-ext, @pocket-cover-margin-bottom, @pocket-cover-margin-int);
    }

    &--default,
    &--credits,
    &--sleeve,
    &--empty {
      .set-page-margin(@pocket-page-margin-top, @pocket-page-margin-ext, @pocket-page-margin-bottom, @pocket-page-margin-int, @preview-ratio);
      // Elements
      .set-page__content-width(@pocket-width, @pocket-height, @pocket-page-margin-top, @pocket-page-margin-ext, @pocket-page-margin-bottom, @pocket-page-margin-int);
    }

    &--backcover {
      .set-page-margin-fixed(@pocket-cover-margin-top, @pocket-cover-margin-int, @pocket-cover-margin-bottom, @pocket-cover-margin-ext, @preview-ratio);
      // Elements
      .set-page__content-width(@pocket-width, @pocket-height, @pocket-cover-margin-top, @pocket-cover-margin-int, @pocket-cover-margin-bottom, @pocket-cover-margin-ext);
    }

    &--spine {
      .set-page-margin(@pocket-page-margin-top, 0, @pocket-page-margin-bottom, 0, @preview-ratio);
      // Elements
      .set-page__content-width(@pocket-width, @pocket-height, @pocket-page-margin-top, 0, @pocket-page-margin-bottom, 0);
    }

  } //--- A4

  &--cover,
  &--backcover,
  &--credits,
  &--sleeve {
    .page__content {
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  [data-textposition="title"]& {
    &--default {
      .page__content {
        flex-direction: column;
      }
    }
  }
  [data-textposition="caption"]& {
    &--default {
      .page__content {
        flex-direction: column-reverse;
      }
    }
  }
  [data-textposition="bubble"]& {
    &--default {
      .page__content {
        flex-direction: column-reverse;
      }
    }
  }

}

// Page Counter
[data-component="pdf-rendering"] {
  counter-reset: pager;

  .page--default {

    .page__content {
      &::after {
        content: counter(pager);
        counter-increment: pager;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  [data-textposition="title"].page--default .page__content{
    &::after {
      bottom: 0;
    }
  }

  [data-textposition="caption"].page--default .page__content{
    &::after {
      top: 0;
    }
  }

  [data-textposition="bubble"].page--default .page__content{
    &::after {
      top: 0;
    }
  }
}



/* =Screen
 * it’s only U.I. Helper
  -----------------------------------------------------------------------------*/
@media screen {

  *[data-component="pdf-rendering"] {
    .clearfix();
  }

  .page {

    // M O D I F I E R S
    &--cover,
    &--backcover,
    &--default,
    &--credits,
    &--sleeve,
    &--empty,
    &--spine {
      margin: @interface-spacer * 0.5;

      & {
        float: left;
        box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        pointer-events: none;
      }

      &:nth-child(odd) {
        clear: left;
      }

    }

    &--cover {
      transform: translate( calc(100% ~"+" @interface-spacer * 0.5 ) );
    }

    [data-format="a4"]& {
      &--cover {
        &:before {
          top: @a4-cover-margin-top * @preview-ratio;
          bottom: @a4-cover-margin-bottom * @preview-ratio;
          left: @a4-cover-margin-int * @preview-ratio;
          right: @a4-cover-margin-ext * @preview-ratio;
        }
      }

      &--backcover {
        &:before {
          top: @a4-cover-margin-top * @preview-ratio;
          bottom: @a4-cover-margin-bottom * @preview-ratio;
          left: @a4-cover-margin-ext * @preview-ratio;
          right: @a4-cover-margin-int * @preview-ratio;
        }
      }

      &--default,
      &--credits,
      &--sleeve,
      &--empty {
        &:before {
          top: @a4-page-margin-top * @preview-ratio;
          bottom: @a4-page-margin-bottom * @preview-ratio;
        }
        &:nth-child(odd) {
          &:before {
            left: @a4-page-margin-ext * @preview-ratio;
            right: @a4-page-margin-int * @preview-ratio;
          }
        }
        &:nth-child(even) {
          &:before {
            left: @a4-page-margin-int * @preview-ratio;
            right: @a4-page-margin-ext * @preview-ratio;
          }
        }
      }
    }
    [data-format="pocket"]& {
      &--cover {
        &:before {
          top: @pocket-cover-margin-top * @preview-ratio;
          bottom: @pocket-cover-margin-bottom * @preview-ratio;
          left: @pocket-cover-margin-int * @preview-ratio;
          right: @pocket-cover-margin-ext * @preview-ratio;
        }
      }

      &--backcover {
        &:before {
          top: @pocket-cover-margin-top * @preview-ratio;
          bottom: @pocket-cover-margin-bottom * @preview-ratio;
          left: @pocket-cover-margin-ext * @preview-ratio;
          right: @pocket-cover-margin-int * @preview-ratio;
        }
      }

      &--default,
      &--credits,
      &--sleeve,
      &--empty {
        &:before {
          top: @pocket-page-margin-top * @preview-ratio;
          bottom: @pocket-page-margin-bottom * @preview-ratio;
        }
        &:nth-child(odd) {
          &:before {
            left: @pocket-page-margin-ext * @preview-ratio;
            right: @pocket-page-margin-int * @preview-ratio;
          }
        }
        &:nth-child(even) {
          &:before {
            left: @pocket-page-margin-int * @preview-ratio;
            right: @pocket-page-margin-ext * @preview-ratio;
          }
        }
      }
    }

    &--spine,
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-left: 0;
    }

    [data-component="cover"] & {
      clear: none!important;
      float: left!important;
      transform: none;

      &--cover {
        margin-left: 0;
      }
    }
  }

} // @media screen



/* =Print
  * Some Print reset, just to be sure.
  -----------------------------------------------------------------------------*/
@media print {

  *, *::after, *::before {
    box-sizing: border-box!important;
  }


  @page
  {
    // size: a4 portrait;
    margin: 0;
  }

  [data-component="cover"] {
    display: flex;
    flex-direction: row;
  }

} // @media print



/* =D E V   O N L Y
* Visual helper for development. Uncomment what you need.
-----------------------------------------------------------------------------*/
@media screen {
  .page {

    // /* 1. Draw borders arround pages content */
    // &--cover,
    // &--backcover,
    // &--default,
    // &--credits,
    // &--sleeve,
    // &--empty {
    //
    //   & {
    //     float: left;
    //     box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
    //   }
    //
    //   &:before {
    //     border: 1px solid;
    //     border-color: rgb(255,79,255) rgb(153,51,255);
    //   }
    // }

    // /* 2. Draw crosses on cover’s verso */
    // &.page--empty:nth-of-type(2),
    // &.page--empty:nth-last-child(2) {
    //   background-image: none;
    //   .text {
    //     height:100%;
    //     width: 100%;
    //     display: block;
    //     background:
    //       linear-gradient(to top left,
    //       rgba(0,0,0,0) 0%,
    //       rgba(0,0,0,0) calc(50% - 0.2px),
    //       rgba(200,200,200,1) 50%,
    //       rgba(0,0,0,0) calc(50% + 0.2px),
    //       rgba(0,0,0,0) 100%),
    //       linear-gradient(to top right,
    //       rgba(0,0,0,0) 0%,
    //       rgba(0,0,0,0) calc(50% - 0.2px),
    //       rgba(200,200,200,1) 50%,
    //       rgba(0,0,0,0) calc(50% + 0.2px),
    //       rgba(0,0,0,0) 100%);
    //   }
    // }

    // /* 3. Display the design layout in background */
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;

    // &:nth-child(odd) {
    //   background-image: url(../../../assets/images/poche_portrait.odd.png);
    // }
    // &:nth-child(even) {
    //   background-image: url(../../../assets/images/poche_portrait.even.png);
    // }

    // &:nth-child(odd) { background-color: red; }
    // &:nth-child(even) { background-color: blue; }

  }
}
