.text {

  z-index: 1;

  // E L E M E N T S
  p {
    margin: @gutter 0;
  }

  &__title {
    .bordered-box();
    .col-right(@col-text-width);
  }
  &__date, &__editor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0!important;
  }
  &__date {
    bottom: 0;
  }
  &__editor {
    bottom: @height-cover-info / 2;
  }
  &__imageDescription {
    .bordered-box();
    .col-left(@col-media-width);
  }
  &__textDescription {
    .bordered-box();
    .col-right(@col-text-width);
  }

  // M O D I F I E R S
  &:empty { display: none; }
  [data-textposition="title"].page--default &,
  [data-textposition="caption"].page--default & {
    .bordered-box();
    .col-right(@col-text-width);
    // E L E M E N T S
    p {
      margin: 0;
    }
  }

  [data-textposition="title"].page--default &,
  [data-textposition="caption"].page--default & {
    max-height: 50%;
  }

  [data-textposition="bubble"].page--default & {
    position: absolute;
    bottom: 0;
    -webkit-text-stroke: @subtitle-thickness black;
    color: white;
    max-height: 50%;
    width: 100%;
    text-align: center;
    padding: @gutter * 0.5 @gutter;
  }

  .page--credits & {
    .col-right(@col-text-width);
  }

  .page--credits &,
  .page--sleeve & {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .page--sleeve:nth-last-child(2) & {
    &:after {
      display: block;
      content: 'iconotext.com';
      text-align: center;
      margin-top: @gutter * 3;
    }
  }

}

.media {

  position: relative;
  z-index: 0;
  margin: 0;
  display: block;
  border-radius: @border-radius;
  object-fit: contain;
  object-position: center top;

  .page--default & {
    height: 100%;
    display: flex;
  }

  .page--cover & {
    .col-left(@col-media-width);
    margin-bottom: @height-cover-info + @gutter * 2;
  }

  [data-textposition="title"].page--default &,
  [data-textposition="caption"].page--default & {
    .col-left(@col-media-width);
    max-height: 50%;
  }

  [data-textposition="title"].page--default & {
    transform: translateY(@gutter * -1);
  }

  [data-textposition="caption"].page--default & {
    transform: translateY(@gutter);
    object-position: center bottom;
  }

  [data-textposition="bubble"].page--default & {
    justify-content: center;
    object-position: center;
    align-self: flex-end;
  }
}


// // DEV
// .page {
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//
//   // &:nth-child(odd) {
//   //   background-image: url(../../../assets/images/poche_portrait.odd.png);
//   // }
//   &:nth-child(even) {
//     background-image: url(../../../assets/images/poche_portrait.even.png);
//   }
//
// }
