.editorSection {
  width: 100%;
  margin: 16px 0;
}

.editorSection_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.editorSection_text {
  display: inline-block;
  min-width: 200px;
  max-width: 100%;
  padding: 16px;
}
