.editorSection {
  width: 100%;
  margin: 16px 0;

  position: relative;
}

.editorSection_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.editorSection_text {
  display: inline-block;
  padding: 16px;
  padding-left: 32px;

  min-width: 220px;
  max-width: 100%;
  min-height: 100px;
}

.editorSection_icons {
  position: absolute;

  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.editorSection_icons::empty {
  display: none;
}
