.editorSection {
  width: 100%;
  margin: 1em 0;
}

.editorSection_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.editorSection_text {
  display: inline-block;
  min-width: 5em;
  max-width: 100%;
  padding: .5em 1em;
}
