.imageBlock {
  display: inline-block;
  width: auto;
  float: right;
  position: relative;
}
.imageBlock_img {
  vertical-align: top;
  max-width: 100%;
}
.imageBlock_delete {
  display: none;
  position: absolute;
  left: 0;
  top: -16px;
  transform: translateX(-50%) translateY(-50%);
  transform: rotate(-45deg);
}
.imageBlock_delete:hover {
  transform: rotate(-57deg) !important;
}
.imageBlock:hover {
  z-index: 200;
}
.imageBlock:hover .imageBlock_delete {
  display: block;
}
