*[data-view="editor"] {
  margin-bottom: 80% !important;

  .edit-buttons {
    text-align: center;

    button {
      .ic-custom-button;
      vertical-align: middle;
      margin: 4px;
    }
  }
}
