*[data-view="publish"] {
  .panel {
    position: fixed;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }


  .welcome-message {
    .ic-block-round;
    .ic-block-dashed;

    padding: 32px;
    margin: 32px 64px 0 0;
    background: none;

    .content {
      font-style: italic;
      text-align: center;
      transition: opacity 200ms ease-in-out;
    }

  }

  li.option {
    .icon,
    .values {
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      width: 80px;
      height: 100px;
      margin-right: 16px;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-color: transparent;
    }

    label,
    input[type="radio"] {
      cursor: pointer;
    }

    input:disabled + label {
      color: grey;
    }

    &[data-option="support"][data-value="print"] .icon {
      background-image: url(../../assets/icons/ico-printed.svg);
    }
    &[data-option="support"][data-value="screen"] .icon {
      background-image: url(../../assets/icons/ico-slideshow.svg);
    }
    &[data-option="format"][data-value="a4"] .icon {
      background-image: url(../../assets/icons/ico-a4.svg);
    }
    &[data-option="format"][data-value="pocket"] .icon {
      background-image: url(../../assets/icons/ico-pocket.svg);
    }
    &[data-option="orientation"][data-value="landscape"] .icon {
      background-image: url(../../assets/icons/ico-landscape.svg);
    }
    &[data-option="orientation"][data-value="portrait"] .icon {
      background-image: url(../../assets/icons/ico-portrait.svg);
    }
    &[data-option="action"][data-value="pdf"] .icon {
      background-image: url(../../assets/icons/ico-editor-1.svg);
    }
    &[data-option="action"][data-value="lulu"] .icon {
      background-image: url(../../assets/icons/ico-laptop.svg);
    }
    &[data-option="action"][data-value="images"] .icon {
      background-image: url(../../assets/icons/ico-txt-as-sub.svg);
    }
    &[data-option="textPosition"][data-value="title"] .icon {
      background-image: url(../../assets/icons/ico-txt-as-title.svg);
    }
    &[data-option="textPosition"][data-value="caption"] .icon {
      background-image: url(../../assets/icons/ico-txt-as-caption.svg);
    }
    &[data-option="textPosition"][data-value="bubble"] .icon {
      background-image: url(../../assets/icons/ico-txt-as-sub.svg);
    }
  }

  .action {
    text-align: center;

    button {
      .ic-custom-button;
      width: 5em;
      height: 5em;

      img {
        width: 100%;
        height: 100%;
      }
    }

    label {
      display: block;
    }
  }

  .export-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(@ic_blue, 50);
    z-index: 2000;

    .wrapper {
      margin: auto;
      text-align: center;
      height: 2em;
      line-height: 1.2em;
      margin-top: 50%;

      .message {
        max-width: 800px;
        transform: translateY(-50%);
        display: inline-block;
        padding: 1em;
        .ic-block;
      }
    }
  }

  @media not print {
    *[data-component="pdf-rendering"] {
      padding-top: 56px;
    }
  }

  @media print {
    .export-message,
    .panel,
    *[data-no-print="true"] {
      display: none;
    }
  }
}
