/* background: */
background: #E1F5F7;


/* zone-square: */
background: #FFFFFF;
border: 2px solid #000000;


/* zone-text-rounded: */
background: #FFFFFF;
border: 2px solid #000000;
border-radius: 6px;


/* zone-editing: */
background: #FFFFFF;
border: 2px dashed #000000;


/* text-default: */
border: 0px solid #000000;
font-family: NittiGrotesk-Medium;
font-size: 20px;
color: #000000;
letter-spacing: 0.3px;
line-height: 24px;


/* text-place-holder: */
border: 0px solid #000000;
font-family: NittiGrotesk-Medium;
font-size: 20px;
color: #9B9B9B;
letter-spacing: 0.3px;
line-height: 24px;


/* text-caption: */
border: 0px solid #000000;
font-family: NittiGrotesk-Medium;
font-size: 14px;
color: #000000;
letter-spacing: 0.21px;
line-height: 22px;


/* text-main-title: */
border: 0px solid #000000;
font-family: Marche_M;
font-size: 16px;
color: #000000;
letter-spacing: -0.26px;
line-height: 24px;


/* text-caption copy 2: */
border: 0px solid #000000;
font-family: Marche_M;
font-size: 16px;
color: #9B9B9B;
letter-spacing: -0.26px;
line-height: 24px;