/*
    100 = thin
    200 = extra-light
    300 = light
    400 = normal, book
    500 = medium
    600 = demi-bold
    700 = bold
    800 = heavy
    900 = black
*/

@font-face {
  font-family: 'Iconotexte';
  src: url('iconotexte_regular.eot');
  src: url('iconotexte_regular.eot?#iefix') format('embedded-opentype'),
       url('iconotexte_regular.woff2') format('woff2'),
       url('iconotexte_regular.woff') format('woff'),
       url('iconotexte_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Iconotexte';
  src: url('iconotexte_regular-italic.eot');
  src: url('iconotexte_regular-italic.eot?#iefix') format('embedded-opentype'),
       url('iconotexte_regular-italic.woff2') format('woff2'),
       url('iconotexte_regular-italic.woff') format('woff'),
       url('iconotexte_regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: 'Iconotexte';
  src: url('iconotexte_semi-bold.eot');
  src: url('iconotexte_semi-bold.eot?#iefix') format('embedded-opentype'),
       url('iconotexte_semi-bold.woff2') format('woff2'),
       url('iconotexte_semi-bold.woff') format('woff'),
       url('iconotexte_semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Iconotexte';
  src: url('iconotexte_semi-bold-italic.eot');
  src: url('iconotexte_semi-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('iconotexte_semi-bold-italic.woff2') format('woff2'),
       url('iconotexte_semi-bold-italic.woff') format('woff'),
       url('iconotexte_semi-bold-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;

}
