*[data-component="page"] {
  @preview_ratio: 4;

  position: relative;
  background: white;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content {
    padding: 64px;

    & > * {
      background: white;
      border: 2px solid black;
      text-align: center;
    }
  }

  .background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: white;
  }

  @media not print {
    display: inline-block;
    border: 2px solid black;
    margin: 8px;

    & > * {
      transform: scale(1 / @preview_ratio);
      transform-origin: top left;
    }
  }

  @media print {
    display: block;
    break-inside: avoid;

    // Cannot calibrate pages with a 18mm margin...
    // This hacks kind of fixes it:
    margin-bottom: -1mm;
  }

  @ic_print_margin: 18mm;
  @ic_a4_width: 210mm - 2 * @ic_print_margin;
  @ic_a4_height: 297mm - 2 * @ic_print_margin;
  @ic_pocket_width: 107.9mm - 2 * @ic_print_margin;
  @ic_pocket_height: 174.6mm - 2 * @ic_print_margin;

  &[data-format="a4"] {
    &[data-orientation="portrait"] {
      @media not print {
        width: 21cm / @preview_ratio;
        height: 29.7cm / @preview_ratio;

        & > * {
          width: 100% * @preview_ratio;
          height: 100% * @preview_ratio;
        }
      }
      @media print {
        width: @ic_a4_width;
        height: @ic_a4_height;
      }
    }
    &[data-orientation="landscape"] {
      @media not print {
        width: 29.7cm / @preview_ratio;
        height: 21cm / @preview_ratio;

        & > * {
          width: 100% * @preview_ratio;
          height: 100% * @preview_ratio;
        }
      }
      @media print {
        width: @ic_a4_height;
        height: @ic_a4_width;
      }
    }
  }

  &[data-format="pocket"] {
    &[data-orientation="portrait"] {
      @media not print {
        width: 10.79cm / @preview_ratio;
        height: 17.46cm / @preview_ratio;

        & > * {
          width: 100% * @preview_ratio;
          height: 100% * @preview_ratio;
        }
      }
      @media print {
        width: @ic_pocket_width;
        height: @ic_pocket_height;
      }
    }
    &[data-orientation="landscape"] {
      @media not print {
        width: 17.46cm / @preview_ratio;
        height: 10.79cm / @preview_ratio;

        & > * {
          width: 100% * @preview_ratio;
          height: 100% * @preview_ratio;
        }
      }
      @media print {
        width: @ic_pocket_height;
        height: @ic_pocket_width;
      }
    }
  }
}
