@font-face {
  font-family: 'iconofont';
  src: url('../fonts/iconofont/iconofont_Regular_italic.eot');
  src: url('../fonts/iconofont/iconofont_Regular_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/iconofont/iconofont_Regular_italic.woff2') format('woff2'), url('../fonts/iconofont/iconofont_Regular_italic.woff') format('woff'), url('../fonts/iconofont/iconofont_Regular_italic.ttf') format('truetype'), url('../fonts/iconofont/iconofont_Regular_italic.svg#iconofont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconofont';
  src: url('../fonts/iconofont/iconofont_Regular.eot');
  src: url('../fonts/iconofont/iconofont_Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/iconofont/iconofont_Regular.woff2') format('woff2'), url('../fonts/iconofont/iconofont_Regular.woff') format('woff'), url('../fonts/iconofont/iconofont_Regular.ttf') format('truetype'), url('../fonts/iconofont/iconofont_Regular.svg#iconofont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Marche_M';
  src: url('../fonts/marche/marche_m-webfont.eot');
  src: url('../fonts/marche/marche_m-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marche/marche_m-webfont.woff2') format('woff2'), url('../fonts/marche/marche_m-webfont.woff') format('woff'), url('../fonts/marche/marche_m-webfont.ttf') format('truetype'), url('../fonts/marche/marche_m-webfont.svg#Marche_M') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Marche_M_avant';
  src: url('../fonts/marche/marche_m_avant-webfont.eot');
  src: url('../fonts/marche/marche_m_avant-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marche/marche_m_avant-webfont.woff2') format('woff2'), url('../fonts/marche/marche_m_avant-webfont.woff') format('woff'), url('../fonts/marche/marche_m_avant-webfont.ttf') format('truetype'), url('../fonts/marche/marche_m_avant-webfont.svg#Marche_M_avant') format('svg');
  font-weight: normal;
  font-style: normal;
}
