@font-face {
  font-family: 'marche';
  src: url('../fonts/marche_m-webfont.eot');
  src: url('../fonts/marche_m-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marche_m-webfont.woff2') format('woff2'), url('../fonts/marche_m-webfont.woff') format('woff'), url('../fonts/marche_m-webfont.ttf') format('truetype'), url('../fonts/marche_m-webfont.svg#marche_mmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marche_m_avantmedium_avant';
  src: url('../fonts/marche_m_avant-webfont.eot');
  src: url('../fonts/marche_m_avant-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marche_m_avant-webfont.woff2') format('woff2'), url('../fonts/marche_m_avant-webfont.woff') format('woff'), url('../fonts/marche_m_avant-webfont.ttf') format('truetype'), url('../fonts/marche_m_avant-webfont.svg#marche_m_avantmedium_avant') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'marche' !important;
}
body h1 {
  font-size: 36px;
}
body #menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
body #menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body #menu li:active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
body #menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
body .sub {
  font-family: 'marche_m_avantmedium_avant' !important;
  bottom: 8%;
  color: white;
  position: absolute;
  text-align: center;
  margin: 0 15% 0 15%;
  z-index: 5000;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 0.11em;
  /* http: //owumaro.github.io/text-stroke-generator; */
  text-shadow: #000000 4px 0px 0px, #000000 3.87565px 0.989616px 0px, #000000 3.51033px 1.9177px 0px, #000000 2.92676px 2.72656px 0px, #000000 2.16121px 3.36588px 0px, #000000 1.26129px 3.79594px 0px, #000000 0.282949px 3.98998px 0px, #000000 -0.712984px 3.93594px 0px, #000000 -1.66459px 3.63719px 0px, #000000 -2.51269px 3.11229px 0px, #000000 -3.20457px 2.39389px 0px, #000000 -3.69721px 1.52664px 0px, #000000 -3.95997px 0.56448px 0px, #000000 -3.97652px -0.432781px 0px, #000000 -3.74583px -1.40313px 0px, #000000 -3.28224px -2.28625px 0px, #000000 -2.61457px -3.02721px 0px, #000000 -1.78435px -3.57996px 0px, #000000 -0.843183px -3.91012px 0px, #000000 0.150409px -3.99717px 0px, #000000 1.13465px -3.8357px 0px, #000000 2.04834px -3.43574px 0px, #000000 2.83468px -2.82216px 0px, #000000 3.44477px -2.03312px 0px, #000000 3.84068px -1.11766px 0px, #000000 3.9978px -0.132717px 0px;
}
body img {
  width: 100%;
}
body .section {
  text-align: center;
}
body .section .description {
  position: absolute;
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  width: 300px;
  height: 50px;
  padding: 20px;
}
/*Full page arrows */
.fp-controlArrow.fp-next {
  background: url("../images/right.png") !important;
}
