<a href="./">all</a>
{{#each tags}}
  <a href="#{{this}}" class="{{#if_eq this ../query }}on{{/if_eq}}" >#{{this}}</a>
{{/each}}

<a href="https://www.instagram.com/the.changing.room/" target="_blank" class="insta" >instagram <img src="./assets/images/insta.png"></a>