// /!\ Doesn’t works. Don’t know why.

// .font-face (@dir, @family, @weight, @style, @name) {
//   @font-face {
//     font-family: @family;
//     src: url('@{dir}/@{name}.eot');
//     src: url('@{dir}/@{name}.eot?#iefix') format('embedded-opentype'),
//          url('@{dir}/@{name}.woff2') format('woff2'),
//          url('@{dir}/@{name}.woff') format('woff'),
//          url('@{dir}/@{name}.ttf') format('truetype');
//     font-weight: @weight;
//     font-style: @style;
//   }
// }

// .font-face('../assets/fonts/iconofont', 'Iconofont', 'normal', 'normal', 'iconotexte_regular');
// .font-face('../assets/fonts/iconofont', 'Iconofont', 'normal', 'italic', 'iconotexte_regular-italic');
// .font-face('../assets/fonts/iconofont', 'Iconofont', 'bold', 'normal', 'iconotexte_semi-bold');
// .font-face('../assets/fonts/iconofont', 'Iconofont', 'bold', 'italic', 'iconotexte_semi-bold-italic');

// .font-face('../assets/fonts/marche', 'Marche_M', 'normal', 'normal', 'marche_m-webfont');
// .font-face('../assets/fonts/marche', 'Marche_M_avant', 'normal', 'normal', 'marche_m_avant-webfont');

@font-face {
  font-family: 'Iconofont';
  src: url('../assets/fonts/iconofont/iconotexte_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Iconofont';
  src: url('../assets/fonts/iconofont/iconotexte_regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Iconofont';
  src: url('../assets/fonts/iconofont/iconotexte_semi-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Iconofont';
  src: url('../assets/fonts/iconofont/iconotexte_semi-bold-italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Marche_M';
  src: url('../assets/fonts/marche/marche_m-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Marche_M_avant';
  src: url('../assets/fonts/marche/marche_m_avant-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
