.font-face (@dir, @family, @weight, @style, @name) {
  @font-face {
    font-family: @family;
    src: url('@{dir}/@{name}.eot');
    src: url('@{dir}/@{name}.eot?#iefix') format('embedded-opentype'),
         url('@{dir}/@{name}.woff2') format('woff2'),
         url('@{dir}/@{name}.woff') format('woff'),
         url('@{dir}/@{name}.ttf') format('truetype');
    font-weight: @weight;
    font-style: @style;
  }
}

.font-face('../assets/fonts/iconofont', 'iconofont', '400', 'normal', 'iconotexte_regular');
// .font-face('../assets/fonts/iconofont', 'iconofont', '400', 'italic', 'iconotexte_regular-italic');
.font-face('../assets/fonts/iconofont', 'iconofont', '600', 'normal', 'iconotexte_semi-bold');
// .font-face('../assets/fonts/iconofont', 'iconofont', '600', 'italic', 'iconotexte_semi-bold-italic');

.font-face('../assets/fonts/marche', 'Marche_M', 'normal', 'normal', 'marche_m-webfont');
.font-face('../assets/fonts/marche', 'Marche_M_avant', 'normal', 'normal', 'marche_m_avant-webfont');
